html {
  height: 100%; }

body {
  padding-top: 0px;
  height: 100%;
  position: relative;
  font-size: 18px;
  font-family: "Roboto Condensed",sans-serif;
}

* {
  outline: none; }

.apptitle{
	font-color:#655643;
	background-color:#80BCA3;
	font-size: 40px;
	text-align: center;
	margin-top: 0px;
	padding-top: 13px;
	padding-bottom: 13px;
	font-family: "Roboto Condensed",sans-serif;
}

.app-container {
  /* min-height: 100%; */
  position: relative;
  padding-bottom: 30px; }

.contentwrapper{
	min-height: 480px;
	margin-top: 5px;
	background-color:#FFFFFF;
	font-family: 'Roboto Condensed';
	overflow: auto;
}

.container-fluid > .navbar-header{
  margin-left: -15px;
  margin-right: -15px;
}

.navbar {
  z-index: 10001;
  padding-left: 60px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.nav {
	margin-top: 80px;
}

.daftar-kriteria {
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: left;
	padding-top: 10px;
}

.daftar-kandidat {
	background-color: #80BCA3;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: left;
	padding-top: 10px;
}

.center {
	margin: auto;
    padding: 10px;
}